/* _________________ Home _________________ */
.section{
  background: #000;
  color: #fff;
  width: 100%;
  height: auto;
} 

#home {
    background: linear-gradient(#000000b4, #00000000), url(../../img/section1.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #fff;
  }
  
  #text-apresentacao h1 {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  #text-apresentacao h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .animacao h1 {
    font-size: 2.5rem;
  }
  
  .animacao span {
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 1px solid #149ddd;
  }

  /* _________________ Sobre _________________ */
  #sobre {
    width: 100%;
    height: 100vh;
  }

  .sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*_ Area de apresentação _*/
  .foto-apresentacao {
    margin-right: 50px;
    width: 40%;
    height: auto;
  }
  .foto-apresentacao img{
    border-radius: 50%;
    box-shadow: 10px 5px 5px #149ddd;
  }
  .text-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    float: right;
  }
  .text-apresentacao h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 30px;
    border-bottom: 0.5px solid #149ddd;
  }
  .text-apresentacao p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  /*_ Area de habilidades _*/
  #habilidades-container {
    width: 100%;
    height: 100vh;
  }

  .habilidades {
    padding-top: 10vh;
  }
  .habilidades h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 50px;
    border-bottom: 0.5px solid #149ddd;
  }

  .cards_habilidade{
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .cards_habilidade .card_item{
    margin: 40px 40px;
    width: 15%;
  }

  .card_item:hover {
    box-shadow: 0 0 15px #149ddd;
  }
  
  .cards_habilidade .card_inner{
    background: #fff;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 315px;
    max-height: 370px;
    width: 100%;
  }
  
  .cards_habilidade .card_item img{
    width: 80%;
    height: auto;
    margin-bottom: 5px;
  }
  
  .cards_habilidade .card_item .card_name{
    color: #e36686;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .cards_habilidade .card_item{
    color: #b6c0c2;
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0 10px;
  }
  

  /* _________________ Projetos _________________ */
  #projetos {
    width: 100%;
    height: auto;
    display: flex;  
  }
  

  /* _________________ Contato _________________ */
  #contato {
    width: 100%;
    height: 100vh;
  }


  /* _________________ Media Query _________________ */
  @media (min-width: 501px) and (max-width: 1000px){
    /* Home */
    #text-apresentacao h1 {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 10px;
    }

    #text-apresentacao h2 {
      color: #fff;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    
    .animacao h1 {
      font-size: 2rem;
    }
    
    .animacao span {
      font-size: 2rem;
      color: #fff;
      padding-bottom: 2px;
      border-bottom: 1px solid #149ddd;
    }

    /* Sobre */
    .sobre {
      flex-direction: column;
    }
    .foto-apresentacao {
      width: 60%;
      margin-top: 120px;
      margin-left: 55px;
    }
    .foto-apresentacao img{
      display: block;
      width: 100%;
      height: auto;
    }
    .text-apresentacao {
      justify-content: normal;
      margin-top: 10vh;
      font-size: 3rem;
      margin-bottom: 30px;
    }

    /* Habilidades */
    .cards_habilidade .card_item{
      padding: 20px 20px;
      width: 40%;
    }

    /* Projetos */
   

  }

  @media screen and (max-width: 500px) {
    /* Home */
    .home {
      width: 100%;
      height: auto;
    }
    /* Sobre */
    .sobre {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .text-apresentacao {
      min-width: 100%;
      display: block;
      text-align: center;
      font-size: 2rem;
    }
    .foto-apresentacao img{
      width: 100%;
      display: block;
      height: auto;
      margin-bottom: 50px;
      margin-left: -10px;
    }
    .p-text-apresentacao {
      padding: 10px;
    }
    .habilidades {
      width: 100%;
      margin-top: 50px;
    }
    .habilidades-itens {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .habilidades-icon i{
      font-size: 1.5rem;
      color: #fff;
      padding: 10px;
    }

    /* Habilidades */
    .cards_habilidade .card_item{
      width: 60%;
    }

    /* Projetos */
    .img-projetos {
      width: 100%;
      height: 70vh;
    }
  }